{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LevelUp {% block head_title %}{% endblock head_title %} </title>
    <!--https://github.com/Ionaru/easy-markdown-editor?tab=readme-ov-file#quick-access-->
    <!--<script src="https://cdn.tailwindcss.com"></script>-->
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
    {% block extra_head %}
    {% endblock extra_head %}

    {% block internship_content %}

    {%endblock internship_content %}
    <footer>Common footer for intership pages</footer>
</body>
</html>

