{% extends "base_internship.html" %}

{% load widget_tweaks %}

{% block internship_content %}
<main class="max-w-7xl mx-auto mt-10">
    <form method = "POST" x-data="{
        internshipStatus: ''
    }">
        {% csrf_token %}
        <div class="mb-4">
            {% render_field form.title class="text-4xl rounded-md border-2 border-gray-200 focus:ring-1 focus:ring-emerald-500 focus:border-emerald-500" placeholder="Write your title here" %}
        </div>

        <div class="flex gap-10 mb-10 items-center">
            {% render_field form.status class="text-xs border-none rounded-sm uppercase internship-status-freshman" x-bind::class="`internship-status-${internshipStatus}`" x-model.fill="internshipStatus" %}
            {% block internship_stats %}

            {% endblock internship_stats %}
        </div>        

        <div class="mb-10">
        {% render_field form.content rows=20 %}
        </div>

        <div class="flex flex-row gap-10 mb-10 items-center mt-6 w-full justify-center">
            <div>
                <p class="text-xl font-semibold mb-2">{{form.company.label}}</p>
                {% render_field form.company %} 
            </div>
            <div>
                <p class="text-xl font-semibold mb-2">{{form.location.label}}</p>
                {% render_field form.location %}
            </div>
            <div>
                <p class="text-xl font-semibold mb-2">{{form.url_link.label}}</p>
                {% render_field form.url_link %}
            </div>
        </div>

        {% block buttons %}

        {% endblock buttons%}

    </form>
</main> 
{% endblock internship_content %}

{% block internship_page_js%}
<script>
const contentMarkdown = new EasyMDE({
    element: document.getElementById("id_content"),
    spellChecker: false,
    status: false,
    toolbar: false,
    forceSync: true
});
</script>
{% endblock internship_page_js%}